.onebg {
    background: url("../ress/0000.png");
    background-size: 100% 100%;
    width: 100%;
    height: 40rem;
}
.p1{
    width: 100%;
    margin-top: 14rem;
    color: aliceblue;
    font-size: 4rem;
    letter-spacing: 1.4rem;
    text-align: center;
}
.div010204{
    width: 100%;
    height: auto;
    margin-top: 10rem;
    color: rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
}
.div01020401{
    margin: 0 auto;
    text-align: left;
    position: relative;
    right: 16rem;
    width: 28rem;
}
.div01020401 .title{
    font-size: 2rem;
    margin-bottom: 2rem;
}

.div01020401 .content{
    margin-bottom: 3.5rem;
}

.div010205{
    width: 100%;
    height: auto;
    margin-top: 13rem;
    color: rgb(0, 0, 0);
    text-align: center;
    overflow: hidden;
}
.div01020501{
    margin: 0 auto;
    position: relative;
    text-align: left;
    left: 18rem;
    width: 31rem;
}
.div01020501 .title{
    font-size: 2rem;
    width: 100%;
    text-align: left;
    margin-bottom: 2rem;
}
.div01020501 .content{
    margin-bottom: 3.5rem;
}
.png009div{
    position: absolute;
    margin-left: 50%;
    z-index: 2;
}
.png009{
    position: relative;
    margin-left: -2.6rem;
    background: url("../ress/5.png");
    background-size: 120%;
    background-repeat: no-repeat;
    background-position: 4.5rem 0; 
    overflow: hidden; 
    z-index: 2;
    width: 42rem;
    height: 50rem;
    margin-top: -35rem;
}
.png010{
    position: absolute;
    margin-left: -40rem;
    z-index: 2;
    width: 32rem;
    margin-top: -8rem;
}