.foot{
    background: #ffffff;
    width: 100%;
    padding-top: 6rem;
    padding-bottom: 2rem;
    overflow: hidden;
    color: rgb(11, 93, 165);
    text-align: center;
}

.foot .leftpart{
    width: 35rem;
    position: relative;
    display: inline-block;
    right: 15rem;
}

.foot .rightpart{
    width: 30rem;
    left: 2.5rem;
    display: inline-block;
    position: relative;
}

.foot .leftpart .footlogo{
    width: 10rem;
    margin-left: 3rem;
    margin-top: -2rem;
    margin-bottom: 3rem;
}

.foot .leftpart .address{
    margin-left: 14rem;
    font-size: 0.8rem;
    letter-spacing: 0.1rem;
    text-align: left;
    color: black;
}

.foot .rightpart table{
    width: 100%;
    font-size: 0.9rem;
}

.foot .rightpart table td{
    text-align: center;
    height: 1.2rem;
    padding: 0.6rem;
}